header .wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.headerImgContainer, .headerContent {
    width: 48%;
}

// contact page header style

.contactHeader {
    background: $quaternary;
    padding-top: 120px;
}
.contactHeader .wrapper {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contactHeader::after {
    content: '';
    width: 100%;
    height: 150px;
    background-image: url(../assets/wave.svg);
    background-size: 100% 150px;
    display: inline-block;
}