.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;
    &:focus{
        left: 0;
    }
}

.announcements {
    text-align: center;
    padding: 10px 0;
}

.navBar {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;
    z-index: 10;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        // &:checked ~ .slideOutNav{
        //     left: 0;
        
    }
}

.searchCart {
    display: flex;
    align-items: center;
    .menuIcon, .bag {
        margin-right: 15px;
    }
    .menuIcon {
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .bag {
        display: flex;
    }
    .counter {
        display: flex;
        p {
            width: 24px;
            height: 24px;
            background: $primary;
            border-radius: 50%;
            color: $solidWhite;
            text-align: center;
        }
    }
}

// Slide out Nav
.slideOutNav {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 100%;
    max-width: 506px;
    padding: 35px 50px;
    transition: 0.75s;
}

.mainMenu {
    a {
        font-family: $headingFont;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: rgba($color: $solidWhite, $alpha: 1);
        transition: 0.3s;
        &:hover, &:focus{ 
            color: rgba($color: $solidWhite, $alpha: 0.5)
        }    
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.menuClose {
    color: $solidWhite;
    font-size: 1.2rem;
}
